mixin sRew(data)
	// start sRew
	+b.SECTION.sRew.section#sRew&attributes(attributes)
		.container
			+b.section-title
				h2 &laquo;Сегодня я&nbsp;точно знаю, что #[span заработок 30 000-50&nbsp;000 долларов] за&nbsp;полчаса-час&nbsp;&mdash; это не&nbsp;сказка,  а&nbsp;суровая правда жизни.&raquo;
				
			+e.slider--js.swiper
				.swiper-wrapper
					mixin slide(m,t,p, n='Имя скрыто', i="0")
						+e.slide.swiper-slide
							+e.title!= t
							if p
								p!= p
							p 
								a(href=`#modal-call-${m}`).link-modal-js Полный отзыв...
							+e.row.row
								.col-auto
									+e.img-wrap
										+pic(`rew-${i}.jpg`,``,0).avatar
								.col= n
							div(id=`modal-call-${m}` style="display: none")
								.modal-win.modal-win--rew
									+e.row.row
										.col-auto
											+e.img-wrap
												+pic(`rew-${i}.jpg`,``,0).avatar
										.col= n
									if p
										p!= p
									block
					+slide(1,`«Теперь могу оплатить обучение мла дшей дочери!»`,`Евгений, еще раз Вам огромное спасибо! Благодаря Вам я теперь смогу полностью оплатить обучение своей младшей дочери в СПб!`,`Виталий`,`1`)

						+pic(`rew-r-1.png`,``,0)
						+pic(`rew-r-1-1.jpg`,``,0)
					+slide(2,`«Депозит УДВОЕН на 6й день!»`,`Евгений, СПАСИБО! Я начал с $300. Торгую только 6-й день, а депозит уже $621. Удвоился за неделю!`)
						+pic(`rew-r-2.png`,``,0)
					+slide(3, `«Пока ужинал, прибыль пришла на автомате!»`,`Это ЗДОРОВО! Моему ноуту 12 лет, но это не мешает мне торговать с советником и зарабатывать НА АВТОМАТЕ`)
						+pic(`rew-r-3.png`,``,0)
					+slide(4,`«Достиг прибыли 40% за 10 дней!»`,`Огромное спасибо за такую систему! Больше 1,5 часа старался не сидеть и после 10 сделок закрывал ноут. За 10 рабочих дней по 1-1,5 часа достиг прибыли в 40%!`)
						+pic(`rew-r-4.png`,``,0)
					+slide(4,`«+2672$ на реальном счете!»`,`Вы не поверите, но за первый месяц мой реальный счет с 500 долларов вырос до +2672! СПАСИБО Евгению за такую систему!`)
						+pic(`rew-r-5.jpg`,``,0)
					+slide(5, `«Я рассчитывал на 50% профита, а уже более 120%...»`,`Я строго следовал системе и рассчитывал максимум на 50% прибыли в месяц. Но месяц еще не закончился, а на счете уже +120%!`)
						+pic(`rew-r-6.png`,``,0)
						
					+slide(6,`«Торговала один день, заработала +$500!»`,`Я домохозяйка и никогда не интересовалась финансами. Но реклама меня зацепила, решила попробовать. Не думала, что всё будет так быстро! В свой первый «рабочий день» сделала 500 долларов!`)
						+pic(`rew-r-6.png`,``,0)
					+slide(7,`«Сделал $100 за 21 минуту»`,`Поставил задачу заработать $100 за день, а выполнил её за 21 минуту! 14 дней уже торгую в плюс!`,'Олег', 8)
						+pic(`rew-r-8.jpg`,``,0)
					+slide(8,`Хочу сразу сказать – стратегия рабочая`,'', `Роман `,'9')
						p С этим курсом я приобрёл ещё одну стабильную стратегию для себя! Я на рынке уже не первый год. Торговал акции, но всё начиналось с Форекса, наверное, как и у всех новичков. Им я хочу сказать – главное не опускать руки! Поверьте, на рынке, реальном рынке, можно зарабатывать. Всем удачи и профитов! 
					+slide(9,`«С удовольствием буду рекомендовать этот курс!»`,'', `Виктор`,'10')
						p Понравилась подача материала. Евгений замечательный педагог, который очень четко понимает, где могут быть проблемы. Разжёвывает мельчайшие детали своей стратегии и, как итог, теперь у меня есть понимание как торговать.
					+slide(10,`«Результаты видны сразу!»`,'',`Вадим`, '11')
						p С каждым днем становится все комфортнее на рынке. А с опытом можно получать практически не ограниченные результаты! Хочу также поблагодарить, пожелать Вам успехов и процветания. Хотелось бы и дальше радоваться вашим интересным и полезным предложениям! Кому интересна данная тема – этот курс один из лучших доступных в Интернете!
					+slide(11,`«Всё понравилось!» Вы лучше всех!`,'',`Равиль`, '12')
						p Не первый раз заказываю курсы по трейдингу, мне нравится учиться у опытных людей, знающих свое дело! К тому же все курсы, которые я покупал у Вас, давно себя окупили и сейчас приносят прибыль, почему же тогда не добавить еще знаний в свою финансовую копилку!

					+slide(12,`«Это ценнейшая информация!»`,'',`Михаил `, '13')
						p Я рекомендую этот тренинг всем, кто хочет научиться торговать на биржах всего мира. Знания, изложенные Евгением, просто уникальны и только от вас зависит, воспользуетесь ли вы этим шансом! Еще раз говорю Евгению огромное спасибо и успехов!
					+slide(13,`«Сделки получаются прибыльные!»`,'', `Сергей`,'14')
						p Тренинги Евгения Стрижа всегда отличаются новизной, каждый раз узнаешь что-то новое, что не узнаешь ни у какого другого "гуру" рынка. Обязательно хочу порекомендовать этот тренинг тем, кто хочет научиться видеть и понимать, как торгуют большие игроки на рынке.
					+slide(14,`«Евгений разжевал все тонкости...»`,'', `Алексей`,'15')
						p На данном тренинге Евгений максимально "разжевал" все тонкости стратегии, заставлял нас делать домашние задания и потом разбирали ошибки. И еще большой плюс, что можно тренироваться на демо-счете.
					+slide(15,`«Уже есть успехи!»`,'', `Михаил`,'16')
						p Польза очевидна - лучше стал понимать рынок, узнал много новых фишек, которые помогают правильно, а главное осознано открывать сделки, появилась уверенность в торговле и в своих силах. Успехи уже есть! Сейчас лето, серьёзно сяду за торговлю с осени. А пока по мере возможности практикуюсь.
					+slide(16,`«Стратегия действительно работает!»`,'', `Ирина`,'17')
						p На тренинге понравилось всё! Во-первых, манера преподавания Евгения - все четко, ясно, не затянуто. Евгений очень хорошо и доходчиво умеет объяснять. Кроме того, он очень терпелив и отвечает на все вопросы по многу раз, не раздражаясь, до тех пор, пока абсолютно всем не станет понятно. Кроме того, стратегия, разработанная Евгением, действительно работает и в этом смогли убедиться даже новички, начав зарабатывать по этой стратегии свои первые профиты.

			+e.control-wrap
				.row
					.col
						.swiper-pagination
					+e.arrow-wrap.col-auto.col-lg-2
						+arrow()

	// end sRew