mixin sFeedback(data)
	// start sFeedback
	+b.SECTION.sFeedback--js.section#sFeedback&attributes(attributes)
		.container
			+b.section-title
				h2
					| После такого, мне не осталось ничего,
					|
					span как взяться за разработку
					|
					| собственной обучающей программы. Сегодня она&#160;доступна всем желающим!
			+e.slider-wrap
				.swiper.sFeedback-slider-js
					.swiper-wrapper
						+sFeedbackSlide({
							income: 'Торговый счет <br> УДВОЕН:',
							name: 'Александр',
							imgNum: '1',
							link:"ReportHistory-5307902.html"
						})
						+sFeedbackSlide({
							income: `Заработано<br> +50% к счету:`,
							name: 'Сергей',
							imgNum: '2'
						})
						+sFeedbackSlide({
							income: `Заработано <br> +60% к счету:`,
							name: 'Вячеслав',
							imgNum: '3',
							link:"ReportHistory-5307946.html"
						})
						+sFeedbackSlide({
							income: `Торговый счет <br> УТРОЕН:`,
							name: 'Любовь',
							imgNum: '4',
							link:"ReportHistory-5307971.html"
						})
				.swiper-pagination

	// end sFeedback

mixin sFeedbackSlide(data)
	.swiper-slide
		+e.slide
			+e.row.row
				+e.col--txt.col-lg-6
					+e.title 
						span!= data.income
					+e.img
						//- img(loading="lazy" src=`img/@2x/sFeedback-${data.imgNum}.jpg` alt="")
						+pic(`sFeedback-${data.imgNum}.jpg`,'',0)
					+e.name=data.name
					if data.link
						+e.btn(href= data.link target="_blank") Смотреть стейтмент
					+e.hint Нажмите, чтобы раскрыть
				+e.col--img.col-lg-6
					+e.link(href=`img/@2x/sFeedback-img-${data.imgNum}.png` data-fancybox="sFeedback-imgs").bg-wrap
						+pic(`sFeedback-img-${data.imgNum}.png`,'bg')(class="sFeedback__slide-img picture-bg")
